
body {
    background-color: #373737;
    color: floralwhite
}

/*header */
.section-container{
    background-color: #373737;
    margin: 50px 20% 50px;
    padding: 20px;
}
section{
    display:table;
    width:100%;
}
header {
    display:flex;
    justify-content: center;
    align-items: 
}
footer {
    display:flex;
    justify-content: center;
}

header img.photo-img {
    width: 350px;
}

header h1.big-title{
    font-size: 180px;
    text-transform: upercase
}
nav.nav ul li{
    display: inline-block;
    margin: 10px
}
nav.nav ul li a{
    text-decoration: none;
    background-color:floralwhite;
    color:gray;
    padding: 10px;

}
/*about*/
section#about {
    height : 400px;
    background: url(../images/the-joker-wallpaper3.jpg) fixed no-repeat;
    background-position: center;
    }

    section#experiencepro {
        height : 200px;
        background: url(../images/fond\ ecran\ gta5.jpg) fixed no-repeat;
        background-position: center;
        }

        section#competences {
            height : 200px;
            background: url(../images/fond\ d\'écran\ psg.jpg) fixed no-repeat;
            background-position: center;
            }